<h2>Welcome</h2>
<p-table  id ="tableData" #dt [value]="cars" [columns]="cols" [paginator]="true" [rows]="10" >
     <ng-template pTemplate="caption">
                <div style="text-align: right">        
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input id = "SearchInpute"type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr id = "tableHeader">
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
        <tr >
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'vin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <div *ngSwitchCase="'year'">
                        Value > {{yearFilter}}
                        <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
                    </div>
                    <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <input *ngSwitchCase="'price'" pInputText type="text" placeholder="Custom - Greater Than" (input)="dt.filter($event.target.value, col.field, 'custom')">
                </th>
            </tr>
    </ng-template>
    <ng-template pTemplate="body" ngFor="#ndx = index" let-car let-column="columns">
        <tr id = "tableRows">
            <td *ngFor="let col of column">
                {{car[col.field]}}
        </td>
        </tr>
    </ng-template>
</p-table>